body{
    background-color: white;
}
.topo{
    background-color:#8743CC;
    width: 1301px;
    height: 100px;
    margin-left: -10px;
    margin-top: -10;
    display: block;
}
.texto{
    padding-top: 55px;
    margin-left: 470px;
    color: whitesmoke;
    font-size: 35px;
}
.logo{
   margin-left: 150px;
   margin-top: -89px;
   margin-left: 610px;
    
}
.corpo{
    background-color:#BBBBBB;
    width: 500px;
    height: 480px;
    margin-top: 90px;
    margin-left: 380px;
    border-radius: 20px;

}
.form{
    text-align: center;
    display: flex;
	flex-direction: column;
}
.form label {
    display: block;
  }

#form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
#valor{
    width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
}
#horas{
    width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
}
#dias{
    width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
}
#ferias{
    width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
    border-radius: 50px;
    text-align: center;
}

.somar{
    display: block;
	padding: 15px;
	width: 30%;
	margin: 0 auto;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
    color: #fff;
    background-color: #8743CC;
	
    cursor: pointer;
    margin-top: 5px;
}
    